

.form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 15px;
  border-radius: 0 0 8px 8px;
  background-color: #fff;
}
.form-personal {
  border-radius: 8px 8px;
}
.startEnd {
  display: flex;
  flex-direction: row;
}
.start-date {
  flex: 1;
}
.form-item label {
  color: black;
  font-weight: 500;
}
.form-item {
  display: flex;
  flex-direction: column;
  /* gap: 2px; */
  position: relative;
}
.form-item:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 100%;
  background-color: lightgray;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
}
.form-item:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.form-input {
  border: none;
  padding-left: 10px;
  background: none;
  height: 25px;
  outline: none;
}

/* FOR <CLEAR RESUME AND LOAD_EXAMPLE> */
.form-edits {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  padding: 15px 20px;
  border-radius: 8px;
  background-color: #fff;
}
.form-edits-btn {
  width: 50%;
  padding: 10px;
  border: none;
  border-radius: 8px;
  background-color: white;
}
.clear-resume {
  color: red;
  font-weight: bold;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}
.load-example {
  background-color: var(--backgroundColor);
  color: var(--otherColor);
  font-weight: bold;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}
/* ADD ITEM TO TAB AND VIEW DELETE DESIGN */
.list-item {
  height: 70px;
  display: flex;
  width: 100%;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
  background-color: #fff;
  border-top: 3px solid var(--backgroundColor);
  /* border-bottom: 1px solid var(--backgroundColor); */
}
.list-item p{
  width: 80%;
  max-width: 300px;
  overflow-wrap: break-word;
  max-height: 50px;
  overflow : hidden;
}
.view-delete-btn {
  margin-left: auto;
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.view-delete-btn button {
  background-color: transparent;
  border: none;
  color: lightgray;
}
.view-delete-btn button:hover {
  color: lightslategray;
}
/*  */
.add-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  background-color: #fff;
  border-radius: 0 0 8px 8px;
  border-top: 3px solid var(--backgroundColor);
}
.add-button {
  background-color: #fff;
  border: 3px solid var(--backgroundColor);
  border-radius: 25px;
  padding: 12px 15px;
  font-weight: bold;
  transition: border 0.25s ease-out;
}
.add-button:hover {
  border-color: lightgray;
}
/* Description Box */
.form-description {
  background-color: var(--backgroundColor);
  min-height: 75px;
}

/* Customize tabs - Color, Font */
.sideBar-btn {
  border: none;
  border-radius: 8px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  font-weight: 600;
  font-size: 1rem;
  background-color: #fff;
  transition: background-color 0.3s ease-out;
  /* box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.1); */
}
.active-btn {
  background-color: var(--backgroundColor);
  /* border: 2px solid var(--backgroundColor); */
}
.customize-tabs {
  height: fit-content;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 20px 30px 20px 30px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 8px;
  gap: 15px;
  font-size: 20px;
  font-weight: bold;
}
.customize-tabs p {
  font-size: 15px;
}
.customize-tabs label {
  font-size: 18px;
  font-weight: 400;
  margin-right: 10px;
}

.font-btn-container {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.font-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  border-radius: 15px;
  /* padding: 30px 20px; */
  background-color: #fff;
  height: 100px;
  width: 70px;
}
.font-btn span {
  font-size: 25px;
}
.arial-btn {
  font-family: Arial, Helvetica, sans-serif;
}
.times-btn {
  font-family: 'Times New Roman', Times, serif;
}
.inter-btn {
  font-family: "Inter",sans-serif;
}

.active {
  background-color: rgb(225, 232, 255);
}
